#RefreshPlaylistAndParentFlexSpacer{
    height: 1rem;
}
#parentFlex{
    display: flex;
    flex-direction: row;
    height: 70rem;
    width: 100%;
}
#scaleRow{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
#scaleRow > *, #tracks > input, .trackButtonFlex > input{
    width: 10rem;
    background-color: purple;
    color: white;
}
#scaleRow > *:hover{
    border-color: white;
}   
#scaleRow input:nth-child(n+2):nth-child(-n+7){
    margin-top: 1rem;
}
#tracks{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    // justify-content: center;
    align-items: center;
    gap: 1rem;
}
#tracks > input{
    width: 15rem;
    margin:0px auto;
}
#getTracksFromSelectedPlaylistButton:hover{
    border-color: white;
}
.trackButtonFlex {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}
.trackButtonFlex > input{
    flex-basis: 25%;
}
.trackButtonFlex > input:hover{
    border-color: white;
}